



 <div class="mainpage">
  <app-header></app-header>

<div class="button-outer">
<div class="button-div">
  <nav >
    <a  routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbyitemname" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
  </nav>
</div>
 
</div>

<div class ="router">
  <router-outlet></router-outlet>
</div>

  <app-footer></app-footer>
</div>