

<h2>User Login</h2> 
<h5></h5> 

<form [formGroup]="formdata" (ngSubmit) = "onClickUserSubmit(formdata.value)" >
   <header>Login</header>
   <label>Username <span>*</span></label>
   <input  formControlName="uname" type="text" name="uname" formControlName="uname"/>
   
   <div class="help">At least 6 character</div>
   <label>Password <span>*</span></label>
   <input  formControlName="passwd" type="password" class="fortextbox" name="passwd" formControlName="passwd"/>
   
   <div class="help">Use upper and lowercase lettes as well</div>

   <button [disabled]="!formdata.valid" value="Login"  >Login</button>

   <a routerLinkActive="active" class="btn btn-link">Register</a>

   <a routerLinkActive="active" routerLink="login" class="btn btn-link" > Admin Login</a>

        <!-- <button class="btn btn-link"   onclick= "onClickAdmin()" >Admin Login</button> -->
        

</form>